* {
  margin:0;
  padding:0;
  box-sizing:border-box;

}

body{
  background-image:radial-gradient(rgb(214, 72, 72),rgb(92, 135, 203));

  text-align: center;
}

.app-title{
  color: aqua;
  padding: 1rem;
  margin:1rem;
  font-size: 6rem;
  font-family: 'Bigelow Rules', serif;
  letter-spacing:5px;
  text-shadow: 2 px 6px 10px #333;
}

